
#header {

}

#header .heading {

    top: 94px;
    left: 0px;
    width: 1500px;
    height: 199px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: Lato-Black, Lato, sans-serif;
}
#header .background {
    margin-bottom: -300px;
    top: -358px;
    left: -11px;
    width: 1518px;
    height: 1215px;
    background: transparent url(/icons/desktop/Layer_37.png) 0% 0% no-repeat padding-box;
    opacity: 1;

}
#header .boxes {

    top: 467px;
    left: 226px;
    width: 81px;
    height: 81px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;

}

#menu {

}

#menu .xyz {

}

#page {

}