
#header {

}

#menu {
top:646px;
left: 0px;
width:1500px;
height:94px;

/* UI Properties */
background: transparent url(icons/desktop/BG.png) 0% 0% no-repeat padding-box;
opacity: 1;
}

#menu .logo {
top: 660px;
left: 182px;
width: 269px;
height: 66px;

background: transparent url(icons/desktop/Logo.png)0% 0% no-repeat padding-box;
opacity: 1;
}

#page {

}