/* Universal Layout */
.textBoxItemText {
    /* Descriptive variables */
    --color-darkBlue: #1883b4;

    /* Functional variables */
    --color-itemNumberDiv: var(--color-darkBlue);

    /* Self Layout Properties */
    margin: 0;

    /* UI Properties */
    text-align: left;
}

/* Smartphone & Tablet Layout */
@media only screen and (max-width: 992px) {
    .textBoxItemText {
        /* UI Properties */
        font: var(--font-primary);
        font-size: 0.9rem;
    }
}

/* Tablet & Desktop Layout */
@media only screen and (min-width: 600px) {
    #textBoxContent {
        /* Content Layout Properties */
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;

        /* UI Properties */
        list-style-type: none;
        padding-left: 0;
    }
    
    .textBoxItem {
        /* Content Layout Properties */
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .textBoxItemNumber {
        /* Self Layout Properties */
        height: 100%;
    }
    
    .textBoxItemNumber p {
        /* Self Layout Properties */
        margin: 0;
        padding-bottom: 0.5rem;
        
        /* UI Properites */
        color: var(--color-darkGray);
        font: var(--font-lato-bold);
        font-size: 2.2rem;
    }
    
    .textBoxItemNumber div {
        /* Self Layout Properties */
        padding-bottom: 0.5rem;
        width: 100%;
    
        /* UI Properties */
        background-color: var(--color-itemNumberDiv);
    }
}

/* Smartphone Layout */
@media only screen and (max-width: 600px) {
    .textBoxItem {
        /* Self Layout Properties */
        padding-top: 0.5rem;
    }

    .textBoxItemNumber {
        /* Content Layout Properties */
        display: none;
    }

    .textBoxItemText {
        /* Content Layout Properties */
        display: inline;
    }
}

/* Tablet Layout */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #textBoxContent {
        /* Self Layout Properties */
        height: 87.6%;
    }
    
    .textBoxItem {
        /* Self Layout Properties */
        padding-top: 1.75rem;
    }
    
    .textBoxItemNumber {
        /* Self Layout Properties */
        width: 8%;
    }
    
    .textBoxItemText {
        /* Self Layout Properties */
        width: 83%;
    }
}

/* Desktop Layout */
@media only screen and (min-width: 992px) {
    .textBoxItem {
        /* Self Layout Properties */
        width: 100%;
        padding-top: 1.5rem;
    }
    
    .textBoxItemNumber {
        /* Self Layout Properties */
        width: 3.75rem;
    }
    
    .textBoxItemText {
        /* Self Layout Properties */
        width: 65%;
    
        /* UI Properties */
        font: var(--font-primary);
        font-size: 0.9rem;
    }
}

/* Stretch Textbox if wrapped */
@media only screen and (min-width: 992px) and (max-width: 1500px) {
    .textBoxItemText {
        /* Self Layout Properties */
        width: 70%;
    }
}