.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#header .heading {

  top: 94px;
  left: 0px;
  width: 1500px;
  height: 199px;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-family: Lato-Black, Lato, sans-serif;
}
#header .background {
  margin-bottom: -300px;
  top: -358px;
  left: -11px;
  width: 1518px;
  height: 1215px;
  background: transparent url(./icons/desktop/Layer_37.png) 0% 0% no-repeat padding-box;
  opacity: 1;

}
#header .boxes {

  top: 467px;
  left: 226px;
  width: 81px;
  height: 81px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;

}
#menu {
top:646px;
left: 0px;
max-width: 1500px;
max-height:94px;
margin: 0 auto;
padding: 15px;
display: flex;
}

#logo {
top: 660px;
left: 182px;
width: 269px;
height: 66px;
display: flex;
margin-top: 100px;
margin-left: 5%;

}
.main-nav{
  display: flex;
  width: 50%;
  float: right;
  margin-right: 2%;
  justify-content: space-between;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}
.main_nav li:hover{
  background-color: gray
}

.main_nav li{
  display: inline;
  color: #ffffff;
}
.main_nav li a{
  color: #ffffff;
}

.navbar {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 20px;
    color: darkgrey;
    display:flex;
    width: 100vw;
    justify-content: space-between;
    float: right;
    list-style: none;
}
#menu-layer{
  position:absolute;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
}
*{
  box-sizing: border-box;
}

.nav-item {
  margin-top: 70px;
  display: inline-block;
}
.nav-link.active, .nav-link:hover {
  background-color: yellow;
  border-top: 1px solid #000000
}
a {
    color: black;
    word-spacing: 10px;
    }
a:link {
        text-decoration: none
    }
a:visited {
        text-decoration: none
    }
a:active {
        text-decoration: none
    }
a:hover {
        text-decoration: goldenrod;
    }

    

#page {

}