
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato-Black, Lato, sans-serif;
    background-size: cover;
    min-height: 100vh;
    padding: 25px;
}
.header{
    margin: auto;
    text-align: center;
    color: #EAD280;
    font-size: 48px;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.5);
}


p {
    text-align: center;
    color:#5A5C5B;
    font-size: 26px;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.5);
   
}


.weather2{
    text-align: center;
    color: #EAD280;
    font-size: 48px;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.5);
}


.day{
    padding: 15px;
    color: black;
    font-family: Lato-Black, Lato, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.temp{
    padding: 15px;
    color: black;
    font-family: Lato-Black, Lato, sans-serif;
    font-size: 18px;
}



.sunrise-sunset{
    padding: 15px;
    color: black;
    font-family: Lato-Black, Lato, sans-serif;
    font-size: 16px;
}

.description{
    padding: 15px;
    color: black;
    font-family: Lato-Black, Lato, sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.button{
    width: 35px;
    height: 35px;
    border: none;
    background-color: white;
    color: #EAD280;
}

.Dimmerr{
    text-align: center;
    
    color:#5A5C5B;
    font-size: 26px;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.5);
}
