#mainBox {
    /* UI Properties*/
    background-color: #f1f1f1;
}

#container {
    /* Content Layout Properties */
    display: flex;
    align-items: center;
}

#topLeftBoxOutline {
    /* UI Properties */
    background-color: #428e9e;
}

#topLeftBox p {
    color: #428D9E;
}

#topRightBox {
    /* UI Properties */
    background-color: #c83434;
}

#topRightBox p, #bottomLeftBox p, #bottomRightBox p {
    /* UI Properties */
    color: #FFF;
}

#bottomLeftBox {
    /* UI Properties */
    background-color: #dfbb42; 
}

#bottomRightBox {
    /* UI Properties */
    background-color: #508b61;  
}

#centerBoxContainer {
    /* Self Layout Properties */
    position: relative;
}

#centerBoxOutline {
    /* Self Layout Properties */
    width: 100%;
    height: 100%;

    /* UI Properties */
    background-color: #428e9e;
}

#centerBox {
    /* Self Layout Properties */
    position: absolute;
    top: 0.0625rem;
    left: 0.0625rem;      

    /* UI Properties */
    background-color: #FFF;
}

#centerBoxInner p {
    margin: 0;
    text-align: left;
    letter-spacing: 0;
}

#centerBoxHeader {
    /* Self Layout Properties */
    width: 14.3125rem;
    height: 1.8125rem;

    /* UI Properties */
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: #428E9E;
}

#centerBoxText {
    /* Self Layout Properties */
    width: 17.25rem;
    height: 1.1875rem;

    /* UI Properties */
    color: #333;
}

@media only screen and (max-width: 62rem) {
    .pDesktopSubBox {
        display: none;
    }
}

@media only screen and (max-width: 37.5rem) {
    
    #mainBox {
        /* Self Layout Properties */
        margin: 0 auto;
        height: 30rem;
        width: 100%;

        /* Content Layout Properties */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container {
        /* Self Layout Properties */
        height: 24.875rem;
        width: 93.75%;

        /* Content Layout Properties */
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .subBox {
        /* UI Properties */
        font-family: 'Lato', sans-serif;
    }

    #centerBoxContainer {
        /* Self Layout Properties */
        order: 0;
        width: 100%;
        height: 21.25rem;
    }

    #centerBox {
        /* Self Layout Properties */    
        width: calc(100% - 0.125rem);
        height: calc(100% - 0.125rem);
        z-index: 1;
    }

    #centerBoxInner {
        /* Self Layout Properties */
        height: 21.125rem;

        /* UI Properties */
        background: transparent url('../icons/smartphone/Pattern.png') bottom no-repeat padding-box;
    }

    #centerBoxInner p {
        /* Self Layout Properties */
        padding: 0 0.5rem;

        /* UI Properties */
        font-size: 0.75rem;
    }

    #centerBoxHeader {
        /* UI Properties */
        line-height: 1.5;
    }

    #centerBoxText {
        line-height: 3;
        font-family: 'Lato Light', sans-serif;
    }

    #topLeftBox, #topRightBox, #bottomLeftBox, #bottomRightBox {
        /* Content Layout Properties */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #topLeftBox p, #topRightBox p, #bottomLeftBox p, #bottomRightBox p {
        /* Self Layout Properties */
        margin: 0;

        /* UI Properties */
        font-size: 1.875rem;
    }

    #topRightBox, #bottomLeftBox, #bottomRightBox {
        /* Self Layout Properties */
        padding: 0.75rem 1.331rem;
    }

    #topLeftBoxContainer {
        /* Self Layout Properties */
        order: 1;
        position: relative;
        padding: 1.875rem 1.875rem;
    }

    #topLeftBoxOutline {
        /* Self Layout Properties */
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.875rem 1.875rem;
    }

    #topLeftBox {
        /* Self Layout Properties */
        margin-top: -0.125rem;      /* Change to 0 when inactive */
        position: absolute;
        top: 0.0625rem;
        left: 0.0625rem;
        padding: 0.75rem 1.2688rem; /* Change to 0.6875rem 1.2688rem when inactive */

        /* UI Properties */
        background-color: #f1f1f1;
    }

    #topRightBox {
        /* Self Layout Properties */
        order: 2;
    }

    #bottomLeftBox {
        /* Self Layout Properties */
        order: 3;  
    }

    #bottomRightBox {
        /* Self Layout Properties */
        order: 4;
    }

}

@media only screen and (min-width: 62rem) {
    #mainBox {
        /* Self Layout Properties */
        width: 100%;
        height: 36.75rem;
    }

    #container {
        /* Self Layout Properties */
        width: 93.75rem;
        height: 36.75rem;
        margin: auto;

        /* Content Layout Properties */
        position: relative;
        justify-content: center;
    }

    .subBox {
        /* Self Layout Properties */
        padding: 2.3333rem 2.1075rem;
        position: absolute;

        /* Content Layout Properties */
        display: flex;
        align-items: center;
        justify-content: center;

        /* UI Properties */
        letter-spacing: 0;
        text-align: center;
        font-family: 'Lato Light', sans-serif;
    }

    .pMobileSubBox {
        display: none;
    }

    #mainBox, .subBox {
        opacity: 1;
    }

    #topLeftBoxContainer {
        /* Self Layout Properties */
        position: absolute;
        top: 4.375rem;
        left: 10.3125rem;
        padding: 3.844rem 9.469rem;
    }

    #topLeftBoxOutline {
        /* Self Layout Properties */
        top: 0;
        left: 0;
        padding: 3.844rem 9.469rem;
    }

    #topLeftBox {
        /* Self Layout Properties */
        top: 0.0625rem;
        left: 0.0625rem;
        padding: 2.2705rem 1.937rem;

        /* UI Properties */
        background-color: #fff;
    }

    #topLeftBox p, #topRightBox p, #bottomLeftBox p, #bottomRightBox p {
        /* UI Properties */
        font-size: 2.5rem;
        margin: 0;
    }

    #topLeftBox p {
        /* UI Properties */
        font-family: 'Lato', sans-serif;
    }

    #topRightBox {
        /* Self Layout Properties */
        top: 4.375rem;
        right: 10.3125rem;   
    }

    #bottomLeftBox {
        /* Self Layout Properties */
        top: 24.688rem;
        left: 10.3125rem;
    }

    #bottomRightBox {
        /* Self Layout Properties */
        top: 24.6875rem;
        right: 10.3125rem;  
    }

    #centerBoxContainer {
        /* Self Layout Properties */
        width: 38.375rem;
        height: 20.5625rem;
    }

    #centerBox {
        /* Self Layout Properties */
        width: 38.25rem;
        height: 20.4375rem;
        z-index: 3;
    }

    #centerBoxInner {
        /* Self Layout Properties */
        padding: 1.125rem 0 0 1.125rem;
        width: 38.0625rem;
        height: 20.4375rem;

        /* UI Properties */
        background: transparent url('../icons/desktop/Pattern.png') bottom no-repeat padding-box;
    }

    #centerBoxInner p {
        /* Self Layout Properties */
        width: 35.875rem;

        /* UI Properties */
        line-height: 2;
    }

    #centerBoxHeader {
        /* Self Layout Properties */
        width: 14.3125rem;
        height: 1.813rem;

        /* UI Properties */
        font-size: 1.5rem;
        font-family: 'Lato', sans-serif;
        color: #428E9E;
    }

    #centerBoxText {
        /* UI Properties */
        font-size: 1rem;
    }
}