#mainBox {
    /* UI Properties*/
    background-color: #f1f1f1;
}

#container {
    /* Content Layout Properties */
    display: flex;
    align-items: center;
}

#topLeftBoxOutline {
    /* UI Properties */
    background-color: #428e9e;
}

#topLeftBox p {
    color: #428D9E;
}

#topRightBox {
    /* UI Properties */
    background-color: #c83434;
}

#topRightBox p, #bottomLeftBox p, #bottomRightBox p {
    /* UI Properties */
    color: #FFF;
}

#bottomLeftBox {
    /* UI Properties */
    background-color: #dfbb42; 
}

#bottomRightBox {
    /* UI Properties */
    background-color: #508b61;  
}

#centerBoxContainer {
    /* Self Layout Properties */
    position: relative;
}

#centerBoxOutline {
    /* Self Layout Properties */
    width: 100%;
    height: 100%;

    /* UI Properties */
    background-color: #428e9e;
}

#centerBox {
    /* Self Layout Properties */
    position: absolute;
    top: 1px;
    left: 1px;      

    /* UI Properties */
    background-color: #FFF;
}

#centerBoxInner p {
    margin: 0;
    text-align: left;
    letter-spacing: 0px;
}

#centerBoxHeader {
    /* Self Layout Properties */
    width: 229px;
    height: 29px;

    /* UI Properties */
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    color: #428E9E;
}

#centerBoxText {
    /* Self Layout Properties */
    width: 276px;
    height: 29px;

    /* UI Properties */
    color: #333333;
}

@media only screen and (max-width: 991px) {
    .pDesktopSubBox {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    
    #mainBox {
        /* Self Layout Properties */
        margin: 0 auto;
        height: 480px;
        width: 100vw;

        /* Content Layout Properties */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container {
        /* Self Layout Properties */
        height: 398px;
        width: 93.75%;

        /* Content Layout Properties */
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .subBox {
        /* UI Properties */
        font-family: 'Lato', sans-serif;
    }

    #centerBoxContainer {
        /* Self Layout Properties */
        order: 0;
        width: 100%;
        height: 340px;
    }

    #centerBox {
        /* Self Layout Properties */    
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        z-index: 1;
    }

    #centerBoxInner {
        /* Self Layout Properties */
        height: 338px;

        /* UI Properties */
        background: transparent url('../icons/smartphone/Pattern.png') bottom no-repeat padding-box;
    }

    #centerBoxInner p {
        /* Self Layout Properties */
        padding: 0 8px;

        /* UI Properties */
        font-size: 12px;
    }

    #centerBoxHeader {
        /* UI Properties */
        line-height: 1.5;
    }

    #centerBoxText {
        line-height: 3;
        font-family: 'Lato Light', sans-serif;
    }

    #topLeftBox, #topRightBox, #bottomLeftBox, #bottomRightBox {
        /* Content Layout Properties */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #topLeftBox p, #topRightBox p, #bottomLeftBox p, #bottomRightBox p {
        /* UI Properties */
        font-size: 30px;
    }

    #topRightBox, #bottomLeftBox, #bottomRightBox {
        /* Self Layout Properties */
        width: 60px;
        height: 60px;
    }

    #topLeftBoxContainer {
        /* Self Layout Properties */
        order: 1;
        position: relative;
        width: 60px;
        height: 60px;
    }

    #topLeftBoxOutline {
        /* Self Layout Properties */
        height: 100%;  
    }

    #topLeftBox {
        /* Self Layout Properties */
        margin-top: -2px;           /* Change to 0 when inactive */
        position: absolute;
        top: 1px;
        left: 1px;
        width: 58px;
        height: 60px;               /* Change to 58px when inactive */

        /* UI Properties */
        background-color: #f1f1f1;
    }

    #topRightBox {
        /* Self Layout Properties */
        order: 2;
    }

    #bottomLeftBox {
        /* Self Layout Properties */
        order: 3;  
    }

    #bottomRightBox {
        /* Self Layout Properties */
        order: 4;
    }

}

@media only screen and (min-width: 992px) {
    #mainBox {
        /* Self Layout Properties */
        width: 100%;
        height: 588px;
    }

    #container {
        /* Self Layout Properties */
        width: 1500px;
        height: 588px;
        margin: auto;

        /* Content Layout Properties */
        position: relative;
        justify-content: center;
    }

    .subBox {
        /* Self Layout Properties */
        width: 303px;
        height: 123px;
        position: absolute;

        /* Content Layout Properties */
        display: flex;
        align-items: center;
        justify-content: center;

        /* UI Properties */
        letter-spacing: 0px;
        text-align: center;
        font-family: 'Lato Light', sans-serif;
    }

    .pMobileSubBox {
        display: none;
    }

    #mainBox, .subBox {
        opacity: 1;
    }

    #topLeftBoxOutline {
        /* Self Layout Properties */
        top: 70px;
        left: 165px;
    }

    #topLeftBox {
        /* Self Layout Properties */
        top: 71px;
        left: 166px;
        width: 301px;
        height: 121px;

        /* UI Properties */
        background-color: #fff;
    }

    #topLeftBox p, #topRightBox p, #bottomLeftBox p, #bottomRightBox p {
        /* UI Properties */
        font-size: 40px;
    }

    #topLeftBox p {
        /* UI Properties */
        font-family: 'Lato', sans-serif;
        font-size: 40px;
    }

    #topRightBox {
        /* Self Layout Properties */
        top: 70px;
        left: 1032px;   
    }

    #bottomLeftBox {
        /* Self Layout Properties */
        top: 395px;
        left: 165px;
    }

    #bottomRightBox {
        /* Self Layout Properties */
        top: 395px;
        left: 1032px;  
    }

    #centerBoxContainer {
        /* Self Layout Properties */
        width: 614px;
        height: 329px;
    }

    #centerBox {
        /* Self Layout Properties */
        width: 612px;
        height: 327px;
        z-index: 3;
    }

    #centerBoxInner {
        /* Self Layout Properties */
        padding-top: 18px;
        padding-left: 18px;
        width: 609px;
        height: 327px;

        /* UI Properties */
        background: transparent url('../icons/desktop/Pattern.png') bottom no-repeat padding-box;
    }

    #centerBoxInner p {
        /* Self Layout Properties */
        width: 574px;

        /* UI Properties */
        line-height: 2;
    }

    #centerBoxHeader {
        /* Self Layout Properties */
        width: 229px;
        height: 29px;

        /* UI Properties */
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        color: #428E9E;
    }

    #centerBoxText {
        /* UI Properties */
        font-size: 16px;
    }
}