@media only screen and (max-width: 37.5rem) {
    :root {
        background-color: gray;
    }
    #textBox {
        /* UI Properties */
        background-color: #FFF;
    }

    #textBoxHeader {
        /* Self Layout Properties */
        padding: 0.88rem 1.3rem;
        height: 17.55%;
        width: 100%;
    
        /* Content Layout Properties */
        display: flex;
        align-items: center;
    
        /* UI Properties */
        background-color: #7ec8ea;
    }
    
    #textBoxHeader p {
        /* Self Layout Properties */
        margin: 0;
        padding-left: 4.6%;
        text-align: left;
    
        /* UI Properties */
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-size: 2.4rem;
        letter-spacing: 0.7rem;
    }

    #textBoxContent {
        /* Self Layout Properties */
        margin: 0;
        padding: 0 0.6rem 0.6rem 0.6rem;

        /* UI Properties */
        text-align: left;
        list-style-position: inside;
    }
    
    .textBoxItem {
        /* Self Layout Properties */
        padding-top: 0.5rem;
    }

    .textBoxItemText {
        /* Self Layout Properties */
        margin: 0;

        /* Content Layout Properties */
        display: inline;

        /*UI Properties */
        font-family: 'Lato', sans-serif;
        font-size: 0.9rem;
    }

    .textBoxItemNumber {
        /* Content Layout Properties */
        display: none;
    }
}

@media only screen and (min-width: 60rem) {
    #textBox {
        /* Self Layout Properties */
        height: 100%;
        width: 39%;
        padding-bottom: 2.5rem;
    
        /* UI Properties */
        background-color: #fff;
    }
    
    #textBoxHeader {
        /* Self Layout Properties */
        padding: 0 1.3rem;
        height: 13.4%;
        width: 100%;
    
        /* Content Layout Properties */
        display: flex;
        align-items: center;
    
        /* UI Properties */
        background-color: #7ec8ea;
    }
    
    #textBoxHeader p {
        /* Self Layout Properties */
        padding-left: 3.5%;
        text-align: left;
    
        /* UI Properties */
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-size: 3rem;
        letter-spacing: 0.9rem;
    }
    
    #textBoxContent {
        /* Self Layout Properties */
        margin: 0;
        height: 86.6%;
    
        /* Content Layout Properties */
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;

        /* UI Properties */
        list-style-type: none;
        padding-left: 0;
    }
    
    .textBoxItem {
        /* Content Layout Properties */
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    
    .textBoxItemNumber {
        /* Self Layout Properties */
        height: 100%;
        width: 13.5%;
    }
    
    .textBoxItemNumber p {
        /* Self Layout Properties */
        margin: 0;
        padding-bottom: 0.5rem;
        
        /* UI Properites */
        color: #333;
        font-family: 'Lato', sans-serif;
        font-size: 2.2rem;
        font-weight: 600;
    }
    
    .textBoxItemNumber div {
        /* Self Layout Properties */
        padding-bottom: 00.5rem;
        width: 100%;
    
        /* UI Properties */
        background-color: #1883b4;
    }
    
    .textBoxItemText {
        /* Self Layout Properties */
        margin: 0;
        width: 65%;
    
        /* UI Properties */
        font-family: 'Lato', sans-serif;
        font-size: 0.9rem;
        text-align: left;
    }
}