/* Universal Layout */
:root {
    /* Descriptive variables */
    --color-lightBlue: #7ec8ea;
    --color-darkBlue: #1883b4;
    --color-translucent-white: rgba(255,255,255,0.8);

    /* Functional variables */
    --color-header: var(--color-lightBlue);
    --color-itemNumberDiv: var(--color-darkBlue);
    --color-boxCaptionBg: var(--color-translucent-white);
}

#textBox {
    /* UI Properties */
    background-color: var(--color-white);
}

#textBoxHeader {
    /* Self Layout Properties */
    width: 100%;
    
    /* Content Layout Properties */
    display: flex;
    align-items: center;
    
    /* UI Properties */
    background-color: var(--color-header);
}

#textBoxHeader p {
    /* Self Layout Properties */
    margin: 0;
    padding-left: 0.75rem;

    /* UI Properties */
    text-align: left;
    font: var(--font-primary);
    font-style: italic;
}

#textBoxContent {
    /* Self Layout Properties */
    margin: 0;
}

.textBoxItemText {
    /* Self Layout Properties */
    margin: 0;

    /* UI Properties */
    text-align: left;
}

/* Smartphone & Tablet Layout */
@media only screen and (max-width: 992px) {
    #textBoxHeader p {
        /* Self Layout Properties */
        margin: 0;
    }

    .textBoxItemText {
        /* UI Properties */
        font: var(--font-primary);
        font-size: 0.9rem;
    }
}

/* Tablet & Desktop Layout */
@media only screen and (min-width: 600px) {
    #textBoxHeader p {
        /* UI Properties */
        font-size: 3rem;
        letter-spacing: 0.9rem;
    }

    #textBoxContent {
        /* Content Layout Properties */
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;

        /* UI Properties */
        list-style-type: none;
        padding-left: 0;
    }
    
    .textBoxItem {
        /* Content Layout Properties */
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .textBoxItemNumber {
        /* Self Layout Properties */
        height: 100%;
    }
    
    .textBoxItemNumber p {
        /* Self Layout Properties */
        margin: 0;
        padding-bottom: 0.5rem;
        
        /* UI Properites */
        color: var(--color-darkGray);
        font: var(--font-lato-bold);
        font-size: 2.2rem;
    }
    
    .textBoxItemNumber div {
        /* Self Layout Properties */
        padding-bottom: 0.5rem;
        width: 100%;
    
        /* UI Properties */
        background-color: var(--color-itemNumberDiv);
    }
}

/* Smartphone Layout */
@media only screen and (max-width: 600px) {
    #textBoxHeader {
        /* Self Layout Properties */
        padding: 0.88rem 1.3rem;
        height: 17.55%;
    }
    
    #textBoxHeader p {
        /* UI Properties */
        font-size: 2.4rem;
        letter-spacing: 0.7rem;
    }

    #textBoxContent {
        /* Self Layout Properties */
        padding: 0 0.6rem 0.6rem 0.6rem;

        /* UI Properties */
        list-style-position: inside;
        text-align: left;
    }
    
    .textBoxItem {
        /* Self Layout Properties */
        padding-top: 0.5rem;
    }

    .textBoxItemNumber {
        /* Content Layout Properties */
        display: none;
    }

    .textBoxItemText {
        /* Content Layout Properties */
        display: inline;
    }
}

/* Tablet Layout */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #textBox {
        /* Self Layout Properties */
        width: 100%;
        padding-bottom: 4rem;
    }
    
    #textBoxHeader {
        /* Self Layout Properties */
        padding: 0.9rem 1.3rem;
        height: 12.4%;
    }
    
    #textBoxHeader p {
        /* UI Properties */
        line-height: 1;
    }
    
    #textBoxContent {
        /* Self Layout Properties */
        height: 87.6%;
    }
    
    .textBoxItem {
        /* Self Layout Properties */
        padding-top: 1.75rem;
    }
    
    .textBoxItemNumber {
        /* Self Layout Properties */
        width: 8%;
    }
    
    .textBoxItemText {
        /* Self Layout Properties */
        width: 83%;
    }
}

/* Desktop Layout */
@media only screen and (min-width: 992px) {
    #textBox {
        /* Self Layout Properties */
        max-height: 38rem;
        width: 39%;
        padding-bottom: 3.75rem;
    }
    
    #textBoxHeader {
        /* Self Layout Properties */
        padding: 0.85rem 1.3rem;
    }
    
    #textBoxHeader p {
        /* UI Properties */
        line-height: 0.6;
    }

    .textBoxItem {
        /* Self Layout Properties */
        width: 100%;
        padding-top: 1.5rem;
    }
    
    .textBoxItemNumber {
        /* Self Layout Properties */
        width: 3.75rem;
    }
    
    .textBoxItemText {
        /* Self Layout Properties */
        width: 65%;
    
        /* UI Properties */
        font: var(--font-primary);
        font-size: 0.9rem;
    }
}

/* Stretch Textbox if wrapped */
@media only screen and (min-width: 992px) and (max-width: 1500px) {
    #textBox {
        /* Self Layout Properties */
        width: 100%;
    }

    .textBoxItemText {
        /* Self Layout Properties */
        width: 70%;
    }
}