#container {
    /* Self Layout Properties */
    height: 1373px;
    margin: 0 auto;
    width: 1500px;

    /* Content Layout Properties */
    display: flex;
    flex-wrap: wrap;

    /* UI Properties */
    background: transparent url('../icons/desktop/BG.png') 0% 0% no-repeat padding-box;
}

#topPhotoContainer {
    /* Self Layout Properties */
    margin-top: 141px;
    padding-left: 180px;
    padding-right: 180px;
    width: 100%;

    /* Content Layout Properties */
    display: flex;
    justify-content: space-between;
}

.topPhotoBox {
    /* Self Layout Properties */
    height: 478px;
    padding-top: 9px;
    width: 263px;

    /* Content Layout Properties */
    align-content: space-evenly;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#topPhotoBox1 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16.png') 0% 0% no-repeat padding-box;
}

#topPhotoBox1 img, #topPhotoBox2 img {
    /* Self Layout Properties */
    height: 439px;
    width: 232px;

    /* UI Properties */
    clip-path: polygon(15% 0%, 85% 0%, 100% 8%, 100% 92.5%, 85% 100%, 15% 100%, 0% 92.5%, 0% 7.5%);
}

#topPhotoBox2 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16_copy.png') 0% 0% no-repeat padding-box;
}

#topPhotoBox3 img, #topPhotoBox4 img {
    /* Self Layout Properites */
    height: 230px;
    width: 230px;

    /* UI Properties */
    border-radius: 50%;
}

#topPhotoBox3 p, #topPhotoBox4 p {
    margin: 0;
    /* UI Properites */
    font-family: 'Lato Light', sans-serif;
    font-size: 36px;
}

#topPhotoBox3 p {
    /* UI Properites */
    color: #62A559;
}

#topPhotoBox4 p {
    /* UI Properites */
    color: #BF79C3;
}

#topPhotoBox3 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16_copy_2.png') 0% 0% no-repeat padding-box;
}

#topPhotoBox4 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16_copy_3.png') 0% 0% no-repeat padding-box;
}

#bottomItemContainer {
    /* Self Layout Properties */
    padding-left: 180px;
    padding-right: 180px;
    width: 100%;

    /* Content Layout Properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomPhotoBox {
    height: 612px;
}

#bottomPhotoBox1 {
    width: 329px;
}

#bottomPhotoBox2 {
    width: 336px;
}

#textBox {
    /* Self Layout Properties */
    height: 612px;
    width: 445px;

    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16_copy_6.png') 0% 0% no-repeat padding-box;
}