#container {
    /* Self Layout Properties */
    height: 1373px;
    margin: 0 auto;
    width: 1500px;

    /* Content Layout Properties */
    display: flex;
    flex-wrap: wrap;

    /* UI Properties */
    background: transparent url('../icons/desktop/BG.png') 0% 0% no-repeat padding-box;
}

#topPhotoContainer {
    /* Self Layout Properties */
    margin-top: 141px;
    padding-left: 180px;
    padding-right: 180px;
    width: 100%;

    /* Content Layout Properties */
    display: flex;
    justify-content: space-between;
}

.topPhotoBox {
    /* Self Layout Properties */
    height: 478px;
    padding-top: 9px;
    width: 263px;

    /* Content Layout Properties */
    align-content: space-evenly;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#topPhotoBox1 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16.png') 0% 0% no-repeat padding-box;
}

#topPhotoBox1 img, #topPhotoBox2 img {
    /* Self Layout Properties */
    height: 439px;
    width: 232px;

    /* UI Properties */
    mask: url('../icons/desktop/Layer_17_bv.png');
}

#topPhotoBox2 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16_copy.png') 0% 0% no-repeat padding-box;
}

#topPhotoBox3 img, #topPhotoBox4 img {
    /* Self Layout Properites */
    height: 230px;
    width: 230px;

    /* UI Properties */
    border-radius: 50%;
}

#topPhotoBox3 p, #topPhotoBox4 p {
    margin: 0;
    /* UI Properites */
    font-family: 'Lato Light', sans-serif;
    font-size: 36px;
}

#topPhotoBox3 p {
    /* UI Properites */
    color: #62A559;
}

#topPhotoBox4 p {
    /* UI Properites */
    color: #BF79C3;
}

#topPhotoBox3 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16_copy_2.png') 0% 0% no-repeat padding-box;
}

#topPhotoBox4 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16_copy_3.png') 0% 0% no-repeat padding-box;
}

#bottomItemContainer {
    /* Self Layout Properties */
    padding-left: 180px;
    padding-right: 180px;
    width: 100%;

    /* Content Layout Properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomPhotoBox {
    /* Self Layout Properties */
    position: relative;
    height: 612px;
}

#bottomPhotoBox1 {
    /* Self Layout Properties */
    width: 329px;
}

#bottomPhotoBox2 {
    /* Self Layout Properties */
    width: 336px;
}

.bottomPhotoOverlay {
    /* Self Layout Properties */
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    /* UI Properties */
    opacity: 0.8;
}

.bottomPhotoOverlay p {
    /* Self Layout Properties */
    width: 99px;
    top: 358px;
    position: absolute;
    margin: 0;

    /* UI Properties */
    color: #333333;
    font-family: 'Lato Light', sans-serif;
    font-size: 200px;
}

#bottomPhotoOverlay1 p {
    /* Self Layout Properties */
    right: 14px;
}

#bottomPhotoOverlay2 p {
    /* Self Layout Properties */
    left: 14px;
}

#bottomPhotoOverlay1 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Polygon_1_bb.png') 0% 0% no-repeat padding-box;
}

#bottomPhotoOverlay2 {
    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_24.png') 0% 0% no-repeat padding-box;
}

#textBox {
    /* Self Layout Properties */
    height: 612px;
    width: 445px;

    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_16_copy_6.png') 0% 0% no-repeat padding-box;
}

#textBoxHeader {
    /* Self Layout Properties */
    padding-left: 21px;
    padding-right: 21px;
    height: 76px;
    width: 100%;

    /* Content Layout Properties */
    align-items: center;
    display: flex;

    /* UI Properties */
    background: transparent url('../icons/desktop/Layer_25.png') 0% 0% no-repeat padding-box;
}

#textBoxHeader p {
    /* Self Layout Properties */
    padding-left: 3.5%;
    text-align: left;

    /* UI Properties */
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 48px;
    letter-spacing: 14.4px;
}