/* Universal Layout */
:root {
    /* Descriptive variables */
    --color-green: #62A559;
    --color-purple: #BF79C3;
    --color-translucent-white: rgba(255,255,255,0.8);

    /* Functional variables */
    --color-boxCaption1: var(--color-green);
    --color-boxCaption2: var(--color-purple);
    --color-boxCaptionBg: var(--color-translucent-white);
}

#container {
    /* Self Layout Properties */
    margin: 0 auto;
}

#topPhotoContainer {
    /* Content Layout Properties */
    display: flex;
    justify-content: space-between;
}

#topPhotoBox3 p, #topPhotoBox4 p {
    /* UI Properties */
    font: var(--font-secondary);
}

#topPhotoBox3 p {
    /* UI Properites */
    color: var(--color-boxCaption1);
}

#topPhotoBox4 p {
    /* UI Properties */
    color: var(--color-boxCaption2);
}

.bottomPhotoBox {
    /* Self Layout Properties */
    position: relative;
}

.bottomPhotoOverlay {
    /* Self Layout Properties */
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
}

.bottomPhotoOverlay span {
    /* Self Layout Properties */
    position: absolute;
    
    /* UI Properties */
    color: var(--color-darkGray);
    font-family: 'Lato Light'; 
}

/* Smartphone & Tablet Layout */
@media only screen and (max-width: 991px) {
    #container {
        /* Self Layout Properties */
        padding: 2.5rem 0;
    }

    #topPhotoContainer {
        /* Content Layout Properties */
        flex-wrap: wrap;
        row-gap: 1.25rem;
    }

    #topPhotoBox3 p, #topPhotoBox4 p {
        /* Self Layout Properties */
        width: min-content;         /* Each caption word in new line */
    }

    #bottomPhotoContainer {
        /* Self Layout Properties */
        width: 100%;
    }
}

/* Tablet & Desktop Layout */
@media only screen and (min-width: 601px) {
    #mainBox {
        /* Self Layout Properties */
        margin: 0 auto;
        width: 100%;
    }

    #container {
        /* Content Layout Properties */
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #topPhotoBox3, #topPhotoBox4 {
        /* Content Layout Properties */
        display: flex;
    }

    #topPhotoBox3 p, #topPhotoBox4 p {
        /* Self Layout Properties */
        margin: 0;
    }

    #bottomItemContainer {
        /* Self Layout Properties */
        width: 100%;

        /* Content Layout Properties */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #bottomPhotoContainer {
        /* Content Layout Properties */
        display: flex;
        justify-content: space-between;
    }

    .bottomPhotoOverlay {
        /* Self Layout Properties */
        top: 0;
    }

    .bottomPhotoOverlay span {
        /* UI Properties */
        font-size: 12.5rem;
    }

    #bottomPhotoOverlay1 span {
        /* Self Layout Properties */
        right: 4.5%;
    }

    #bottomPhotoOverlay2 span {
        /* Self Layout Properties */
        left: 4.5%;;
    }
}

/* Smartphone Layout */
@media only screen and (max-width: 600px) {
    #mainBox {
        /* UI Properties */
        background: transparent url('@/icons/smartphone/BG.png') 0% 0% no-repeat padding-box;
        background-position: center 5.5%;
        background-size: 200% 210%;
    }

    #container {
        /* Self Layout Properties */
        width: 93.75%;
    }

    #topPhotoContainer {
        /* Self Layout Properties */
        margin-bottom: 2.5rem;
    }

    .topPhotoBox {
        /* Self Layout Properties */
        position: relative;
        padding: 1.2rem 0.6rem 0.6rem 0.6rem;
    }

    .topPhotoDesktop, .topPhotoTablet {
        /* Self Layout Properties */
        display: none;
    }

    .topPhotoPhone {
        /* Self Layout Properties */
        display: block;
        width: 7.5rem;
    }

    .topPhotoBox p {
        /* Self Layout Properties */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    #topPhotoBox1 {
        /* UI Properties */
        background: transparent url('@/icons/smartphone/Layer_16.png') 0% 0% no-repeat padding-box;
    }

    #topPhotoBox2 {
        /* UI Properties */
        background: transparent url('@/icons/smartphone/Layer_16_copy.png') 0% 0% no-repeat padding-box;
    }

    #topPhotoBox3 p, #topPhotoBox4 p {
        /* UI Properties */
        font-size: 1.1rem;
        line-height: 2;
    }

    .boxCaptionLine {
        /* Self Layout Properties */
        padding: 0 0.1rem;

        /* UI Properties */
        background-color: var(--color-boxCaptionBg);
    }

    #topPhotoBox3 {
        /* UI Properties */
        background: transparent url('@/icons/smartphone/Layer_30.png') 0% 0% no-repeat padding-box;
    }

    #topPhotoBox4 {
        /* UI Properties */
        background: transparent url('@/icons/smartphone/Layer_16_copy_4.png') 0% 0% no-repeat padding-box;
    }

    #bottomPhotoContainer {
        /* Self Layout Properties */
        margin-bottom: 2.5rem;
    }

    .bottomPhotoBox {
        /* Self Layout Properties */
        width: 100%;
        margin-bottom: 2.5rem;
        padding: 52.5% 0;
    }

    #bottomPhotoBox1 {
        /* UI Properties */
        background: transparent url('@/icons/smartphone/Clip_y.png') 0% 0% no-repeat padding-box;
        background-size: cover;
    }

    #bottomPhotoBox2 {
        /* UI Properties */
        background: transparent url('@/icons/smartphone/Clip.png') 0% 0% no-repeat padding-box;
        background-size: cover;
    }

    .bottomPhotoOverlay span {
        /* Self Layout Properties */
        left: 5%;

        /* UI Properties */
        font-size: 9.4rem;
        line-height: 0.4;
    }

    #bottomPhotoOverlay1 {
        /* Self Layout Properties */
        bottom: 0;
        
        /* UI Properties */
        background: transparent url('@/icons/smartphone/Polygon_1.png') 0% bottom no-repeat padding-box;
        background-size: contain;
    }

    #bottomPhotoOverlay1 span {
        /* Self Layout Properties */
        bottom: 16%;
    }

    #bottomPhotoOverlay2 {
        /* Self Layout Properties */
        top: 0;

        /* UI Properties */
        background: transparent url('@/icons/smartphone/Polygon_1_copy.png') 0% top no-repeat padding-box;
        background-size: contain;
    }

    #bottomPhotoOverlay2 span {
        /* Self Layout Properties */
        top: 2%;
        left: 5%;
    }
}

/* Center topPhoto boxes if only one is displayed per row */
@media only screen and (max-width: 300px), (min-width: 600px) and (max-width: 746px) {
    #topPhotoContainer {
        /* Content Layout Properties */
        justify-content: center;
    }
}

/* Center bottomPhoto boxes if only one is displayed per row */
@media only screen and (min-width: 600px) and (max-width: 746px) {
    #bottomPhotoContainer {
        /* Content Layout Properties */
        justify-content: center;
    }
}

/* Tablet Layout */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #mainBox {
        /* UI Properties */
        background: transparent url('@/icons/tablet/BG.png') 0% 0% no-repeat padding-box;
        background-position: center 5.5%;
        background-size: 200% 210%;
    }

    #container {
        /* Self Layout Properties */
        width: 94.8%;
    }

    #topPhotoContainer {
        /* Self Layout Properties */
        margin-bottom: 3.75rem;
    }

    .topPhotoBox {
        /* Self Layout Properties */
        padding: 1.45rem 0.85rem 0.85rem 0.85rem;
    }

    .topPhotoPhone, .topPhotoDesktop {
        /* Self Layout Properties */
        display: none;
    }

    .topPhotoTablet {
        /* Self Layout Properties */
        display: block;
        width: 20.4rem;
    }

    #topPhotoBox1 {
        /* Self Layout Properties */
        order: 1;

        /* UI Properties */
        background: transparent url('@/icons/tablet/Layer_16.png') 0% 0% no-repeat padding-box;
    }

    #topPhotoBox2 {
        /* Self Layout Properties */
        order: 3;

        /* UI Properties */
        background: transparent url('@/icons/tablet/Layer_16_copy.png') 0% 0% no-repeat padding-box;
    }

    #topPhotoBox3, #topPhotoBox4 {
        /* Self Layout Properties */
        padding: 2.625rem 0.6rem 2.188rem 0.6rem;

        /* Content Layout Properties */
        flex-wrap: nowrap;
        align-items: center;
    }

    #topPhotoBox3 img, #topPhotoBox4 img {
        /* Self Layout Properites */
        width: 9.5rem;
    }

    #topPhotoBox3 p, #topPhotoBox4 p {
        /* Self Layout Properties */
        padding: 0 2rem 0 2.85rem;

        /* UI Properites */
        font-size: 1.5rem;
    }

    #topPhotoBox3 {
        /* Self Layout Properties */
        order: 2;

        /* UI Properties */
        background: transparent url('@/icons/tablet/Layer_30.png') 0% 0% no-repeat padding-box;
    }

    #topPhotoBox4 {
        /* Self Layout Properties */
        order: 4;

        /* UI Properties */
        background: transparent url('@/icons/tablet/Layer_16_copy_4.png') 0% 0% no-repeat padding-box;
    }

    #bottomItemContainer {
        /* Content Layout Properties */
        flex-wrap: wrap;
    }

    #bottomPhotoContainer {
        /* Self Layout Properties */
        margin-bottom: 3.75rem;

        /* Content Layout Properties */
        flex-wrap: wrap;
        row-gap: 1.25rem;
    }

    .bottomPhotoBox {
        /* Self Layout Properties */
        padding: 19rem 11.063rem;
    }

    #bottomPhotoBox1 {
        /* UI Properties */
        background: transparent url('@/icons/tablet/Clip_.png') 0% 0% no-repeat padding-box;
    }

    #bottomPhotoBox2 {
        /* UI Properties */
        background: transparent url('@/icons/tablet/Clip.png') 0% 0% no-repeat padding-box;
    }

    .bottomPhotoOverlay span {
        /* UI Properties */
        line-height: 0.6;
    }

    #bottomPhotoOverlay1 {
        /* UI Properties */
        background: transparent url('@/icons/tablet/Polygon_1.png') 0% 0% no-repeat padding-box;
    }

    #bottomPhotoOverlay2 {
        /* UI Properties */
        background: transparent url('@/icons/tablet/Layer_34.png') 0% 0% no-repeat padding-box;
    }
}

/* Desktop Layout */
@media only screen and (min-width: 992px) {
    #mainBox {
        /* UI Properties */
        background-color: var(--color-lightGray);
    }

    #container {
        /* Self Layout Properties */
        padding: 4.5rem 11.25rem 4.5rem 11.25rem;
        max-width: 93.75rem;
        row-gap: 4.4rem;

        /* UI Properties */
        background: transparent url('@/icons/desktop/BG.png') 0% 0% no-repeat padding-box;
        background-position-y: 5.5%;
        background-size: 101% 216%;
    }

    #topPhotoContainer {
        /* Self Layout Properties */
        width: 100%;

        /* Content Layout Properties */
        flex-wrap: wrap;
        row-gap: 1.9rem;
    }

    .topPhotoBox {
        /* Self Layout Properties */
        padding: 1.5rem 1rem 1rem 1rem;
    }

    #topPhotoBox1 {
        /* UI Properties */
        background: transparent url('@/icons/desktop/Layer_16.png') 0% 0% no-repeat padding-box;
    }

    .topPhotoPhone, .topPhotoTablet {
        /* Self Layout Properties */
        display: none;
    }

    .topPhotoDesktop {
        /* Self Layout Properties */
        display: block;
        width: 14.5rem;

        /* UI Properties */
        mask: url('@/icons/desktop/Layer_17_bv.png');
    }

    #topPhotoBox2 {
        /* UI Properties */
        background: transparent url('@/icons/desktop/Layer_16_copy.png') 0% 0% no-repeat padding-box;
    }

    #topPhotoBox3, #topPhotoBox4 {
        /* Content Layout Properties */
        flex-wrap: wrap;
        flex-basis: 0;
        align-content: space-evenly;
    }

    #topPhotoBox3 img, #topPhotoBox4 img {
        /* Self Layout Properites */
        width: 14.4rem;

        /* UI Properties */
        border-radius: 50%;
    }

    #topPhotoBox3 p, #topPhotoBox4 p {
        /* UI Properites */
        font-size: 2.25rem;
    }

    #topPhotoBox3 {
        /* UI Properties */
        background: transparent url('@/icons/desktop/Layer_16_copy_2.png') 0% 0% no-repeat padding-box;
    }

    #topPhotoBox4 {
        /* UI Properties */
        background: transparent url('@/icons/desktop/Layer_16_copy_3.png') 0% 0% no-repeat padding-box;
    }

    #bottomItemContainer {
        /* Content Layout Properties */
        display: flex;
        flex-wrap: wrap;
        row-gap: 4.4rem;
    }

    #bottomPhotoContainer {
        /* Self Layout Properties */
        width: 59.65%;
    }

    #bottomPhotoBox1 {
        /* Self Layout Properties */
        padding: 19rem 10.3rem;

        /* UI Properties */
        background: transparent url('@/icons/desktop/Clip_.png') 0% 0% no-repeat padding-box;
    }

    #bottomPhotoBox2 {
        /* Self Layout Properties */
        padding: 19rem 10.5rem;
        
        /* UI Properties */
        background: transparent url('@/icons/desktop/Clip.png') 0% 0% no-repeat padding-box;
    }

    .bottomPhotoOverlay span {
        /* Self Layout Properties */
        top: 22.5rem;
    }

    #bottomPhotoOverlay1 {
        /* UI Properties */
        background: transparent url('@/icons/desktop/Polygon_1_bb.png') 0% 0% no-repeat padding-box;
    }

    #bottomPhotoOverlay2 {
        /* UI Properties */
        background: transparent url('@/icons/desktop/Layer_24.png') 0% 0% no-repeat padding-box;
    }
}

/* Stretch bottomPhotoContainer on bottomItem wrap */
@media only screen and (min-width: 992px) and (max-width: 1500px) {
    #bottomPhotoContainer {
        /* Self Layout Properties */
        width: 100%;
    }
}