#mainBox {
  /* Self Layout Properties */
  margin: 0 auto;
  height: 53.5rem;
  max-width: 93.75rem;

  /* UI Properties */
  background: transparent url('../icons/desktop/Layer_37.png') center -358px no-repeat padding-box;
}

#container {
  /* Self Layout Properties */
  height: 75.38%;
  padding: 98px 0;
  
  /* Content Layout Properties */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

#heading {
  /* Self Layout Properties */
  margin: 0;

  /* UI Properties */
  opacity: 1;
  color: #FFF;
  line-height: 1;
  font-size: 68px;
  letter-spacing: 0px;
  font-family: 'Lato Black', Lato, sans-serif;
}
  
#boxes {
  /* Self Layout Properties */
  width: 69.7%;
  
  /* Content Layout Properties */
  display: flex;
  justify-content: space-between;
}

#redBoxes, #blueBoxes, #greenBoxes {
  /* Content Layout Properties */
  display: flex;
  align-items: center;
}

.iconBox {
  /* Self Layout Properties */
  height: 81px;
}

.blueBoxes, .greenBoxes {
  /* UI Properties */
  opacity: 0.75;
}