#menu {
  max-width: 1500px;
  max-height: 94px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
}

#logo {
  top: 660px;
  left: 182px;
  width: 269px;
  height: 66px;
  display: inline-block;
  margin-left: 0;
}

.main_nav{
  margin: 0;
  display: flex;
  width: 55%;
  float: right;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}

.navbar {
  display:flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  float: right;
  list-style: none;
  border-color: white;    
}

* {
  box-sizing: border-box;
}

.nav_link {
  display: inline-block;
  width:118px;
  height: 4em;
}

.nav_link.active, .nav_link:hover {
  background-color: #EAD280;
  border-top: 10px solid #DFBB42;
  border-bottom: 5px solid #B0B0B0;
}

.nav_link.active, .nav_link:visited {
  background-color: #EAD280;
  border-top: 10px solid #DFBB42;
  border-bottom: 5px solid #B0B0B0;
}

.nav_item {
  margin-top: 30px;
}

a {
  color:#5A5C5B;
  word-spacing: 10px;        
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: goldenrod;
}