#navbar {
  /* Self Layout Properties */
  height: 11%;
  margin: 0 auto;
  
  /* Content Layout Properties */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#mainNav {
  /* Self Layout Properties */
  width: 38.45%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  /* Content Layout Properties */
  display: flex;
  justify-content: center;

  /* UI Properties */
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  overflow: visible;
}

.navLink {
  /* Self Layout Properties */
  flex: auto;
  margin-top: -11px;
  height: 118%;

  /* UI Properties */
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  overflow: visible;
}

.navLink:active, .navLink:visited, .navLink:hover {
  /* UI Properties */
  background-color: #EAD280;
  border-top: 10px solid #DFBB42;
  border-bottom: 5px solid #B0B0B0;
}

.navLink:hover .navItem {
  /* UI Properties */
  color: white;
}

.navItem {
  /* Self Layout Properties */
  height: 100%;

  /* Content Layout Properties */
  display: flex;
  align-items: center;
  justify-content: center;

  /* UI Properties */
  color:#5A5C5B;    
}

.navItem:link {
  /* UI Properties */
  text-decoration: none;
}

.navItem:visited {
  /* UI Properties */
  text-decoration: none;
}

.navItem:active {
  /* UI Properties */
  text-decoration: none;
}

.navItem:hover {
  /* UI Properties */
  text-decoration: goldenrod;
}