/* Universal Layout *//* Universal Layout */
:root {
    /* Descriptive variables */
    --color-lightBlue: #7ec8ea;
    --color-darkBlue: #1883b4;
    --color-translucent-white: rgba(255,255,255,0.8);

    /* Functional variables */
    --color-header: var(--color-lightBlue);
    --color-itemNumberDiv: var(--color-darkBlue);
    --color-boxCaptionBg: var(--color-translucent-white);
}

#textBoxContent {
    /* Self Layout Properties */
    margin: 0;
}

/* Tablet & Desktop Layout */
@media only screen and (min-width: 600px) {
    #textBoxContent {
        /* Content Layout Properties */
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;

        /* UI Properties */
        list-style-type: none;
        padding-left: 0;
    }
}

/* Smartphone Layout */
@media only screen and (max-width: 600px) {
    #textBoxContent {
        /* Self Layout Properties */
        padding: 0 0.6rem 0.6rem 0.6rem;

        /* UI Properties */
        list-style-position: inside;
        text-align: left;
    }
}

/* Tablet Layout */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #textBoxContent {
        /* Self Layout Properties */
        height: 87.6%;
    }
}